*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
   font-family: sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.quiz-container{
    background-color: cornsilk;
    border-radius: 10px;
    width: 600px;
    overflow:hidden;
 }

 .quiz-header{
     padding: 4rem;
 }
 h2{
     padding: 1rem;
     text-align: center;
     margin: 0;

 }

 ul{
     list-style-type: none;
     padding: 0;
 }
 ul li{
     font-size: 1.3rem;
     margin: 1rem 0;
 }

 ul li label{
     cursor: pointer;
 }

 button{
     background-color: darkmagenta;
     color: cornsilk;
     border: none;
     display: block;
     width: 100%;
     cursor: pointer;
     font-size: 1.2rem;
     font-family: inherit;
     padding: 1.4rem;
 }

button:hover{
    background-color:lightskyblue;

}
button:focus{
    outline: none;
    background-color: lime;
}     









/* *,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:left
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
  width: 100vw;
  height: 100vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-color: rgb(145, 118, 170)18, 170); */
  /* 
  
 */

/* header {
  width: 80px;
  display: grid;
  grid-template-columns: 40% 40% 40%;
  justify-content: center;
  margin-bottom: 10rem;
  width: 800px;
  max-width: 75%;
  text-align: center;
  background-color: #ffffff; 
  padding: 5px;
} */ */
